.cart{
    margin-left:30px;
    position: sticky;
    top: 0px;
}
.cart img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.show-item{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    
    /* gap: 10px; */
}